os: linux
dist: trusty
addons:
  apt:
    packages:
    - gfortran
    - libblas-dev
    - liblapack-dev
language: python
python:
  - "2.7"
before_install:
  - ./tools/travis-before-install.sh
install:
  - pip install -r requirements.txt
  - pip install tox-travis
before_script:
  - pushd tests/_data/ && cp site.mk.example site.mk && make && popd
script:
  - tox
branches:
  only:
  - master
